body{
    padding: 26px 24px 10px 24px;
    /*min-width: 790px;*/
    /*width: 790px;*/
    min-width: 742px;
    width: 742px;
    margin: 0 auto;
    overflow-x:hidden ;
	-webkit-user-select:none;
	user-select:none
}

.head .searchBox{
    width: 400px;
    height: 28px;
    margin: 0 auto;
    line-height: 28px;
    border-radius: 5px;
    font-size: 12px;
}
.head .searchBox input{
    height: 28px;
    width: 328px;
    line-height: 28px;
    border: 1px solid #cacaca;
    padding-left: 10px;
    border-radius: 5px 0 0 5px ;
    color:#000;
}
.head .searchBox button{
    height: 30px;
    border: 1px solid #21a0ed;
    background-color: #21a0ed;
    color: #fff;
    width: 60px;
    border-radius: 0 5px 5px 0 ;
    outline:none;
    cursor: pointer;
}
.head p{
    width: 400px;
    font-size: 12px;
    padding-left: 5px;
    color: #666666;
    margin: 10px auto 0;
    cursor: default;
}
/*   section  */
section{
    margin-top: 30px;
}
section .navTab{
    height: 36px;
    text-align: center;
    border-bottom: 1px solid #e1e1e1;

}
section .navTab a{
    padding: 14px 46px;
    margin:  0 80px;
    font-size: 16px;
    color: #666666;
    white-space:nowrap;
}
section .navTab a.active{
    color: #21a0ed;
    border-bottom: 2px solid #21a0ed;
}
/*   电台    */
.radioStation{
    margin-bottom: 10px;
}
.radioStation{
    width: 105%;
}
.radioStation li{
    width: 32%;
    margin-left: 2px;
    margin-top: 20px;
}
.radioStation li a{
    display: inline-block;
    float: left;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}
.radioStation li a:hover:before{
    position: absolute;
    content: '';
    display: inline-block;
    width: 72px;
    height: 72px;
    background: url("http://image.kuwo.cn/mpage/html5/2016/hitlist/radio_icon_playArrow.png") no-repeat;
    border-radius: 50%;
}

.radioStation li div{
    float: left;
    width: 155px;
    overflow: hidden;
    margin-left: 22px;
    margin-top: 12px;

}

.radioStation li div span{
    width: 150px;
    display: inline-block;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    cursor: pointer;
}

.radioStation li div span:first-child{
    font-size: 16px;
    cursor: pointer;
}
.radioStation li div span em{
    color: #ff8753;
}

.radioStation li div span:last-child{
    font-size: 14px;
    color: #999999;
    line-height: 44px;
}

.radioStation li a img{
    width: 72px;
    height: 72px;
    border-radius: 50%;
    cursor: pointer;
}

/*page 分页*/
footer {
    margin: 10px 0;
}

.page {
    float: left;
    height: 30px;
    text-align: center;
    padding: 10px 0 5px 0;
    /*max-width: 260px;*/
    /*margin: 0 auto;*/

}


.page .current {

    background-color: #21a0ed;
    color: #fff;
}
.page a {
    float: left;
    font-size: 12px;
    color: #333;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    display: block;
    margin-right: 5px;
    background-color: #DBDFE2;

}
.page .point {
    float: left;
    margin: 0 19px 0 14px;
    height: 26px;
    line-height: 26px;
    color: #999;
}
.page a img {
    margin-top: 10px;
    display: inline;
}

/*搜索为空*/
.searchNoneBox{
    margin-top: 110px;
    text-align: center;
}

.searchNoneBox p{
    margin-top: 20px;
}
#radioContent{
    position: relative;
}


/*loading  */
.loading {
    position: absolute;
    left: 44%;
    top: 30px;
}

/*   --回调顶部-  */
.rtop {
    position: fixed;
    display: none;
    width: 26px;
    height: 26px;
    background: url(http://image.kuwo.cn/website/pc/web/kudou/top.png) no-repeat 0 0;
    z-index: 9999999;
    right: 26px;
    bottom: 10px;
    opacity: 0.6;
}


.rtop:hover {
    background:url(http://image.kuwo.cn/website/pc/web/kudou/active_top.png) no-repeat 0 0;
}



/*滚动条样式*/
body::-webkit-scrollbar{
    width:15px;
}
body::-webkit-scrollbar-track {

    background-color: #fafafa;

} /* 滚动条的滑轨背景颜色 */

body::-webkit-scrollbar-thumb {
    border:1px solid #dbdfe2;
    background-color: #f3f3f3;

} /* 滑块颜色 */

body::-webkit-scrollbar-button {
    background:transparent;
    /*background-color: #7c2929;*/

} /* 滑轨两头的监听按钮颜色 */

/*显示滚动条上方的渐增按钮*/
body::-webkit-scrollbar-button:start:decrement,
body::-webkit-scrollbar-button:end:increment {
    display: block;
    height:15px;
}
/*隐藏滚动条上方的渐增按钮*/
body::-webkit-scrollbar-button:vertical:start:increment,
body::-webkit-scrollbar-button:vertical:end:decrement {
    display: none;
}
/* 定义滚动条渐增按扭的样式 */
body::-webkit-scrollbar-button:end:increment {
    background-image: url(http://image.kuwo.cn/website/pc/web/kudou/bar_down.jpg);
    margin-top:2px;
}
/* 定义滚动条渐减按扭的样式 */
body::-webkit-scrollbar-button:start:decrement {
    background-image: url(http://image.kuwo.cn/website/pc/web/kudou/bar_up.jpg);
    margin-bottom:2px;
}

